.ie7 .day_flag_minus {
	*zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '*');
}
.ie7 .day_flag_plus {
	*zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '**');
}


.ie7 input.btn {
	display: inline;
}


.ie7 .address_autocomplete {
	padding-top: 9px;
	line-height: 12px;
	float: left;
	height: 23px;
}
