%p Dear user,
%p Our records indicate that you have already validated 5 days of your travel data. Now all you have to do is to keep the FM Survey app running on your smartphone for a few more days to qualify for the $50 incentive. Please be reminded that you have to collect 14 days of data before September 30th, 2013 to claim the vouchers.
%p If you have any questions, please call us at 9124-9322.
%p Thank you for your participation,
%p The FMSurvey Team.
%p Note: If you don´t want to participate in or receive more information about the Future Mobility Survey please reply to this e-mail asking our team to remove you from the participation list.
