Hello,

Detect stops crashed for user with id #{@user_id} =)

Exception Message:

\#{@exception.message}


\=====================

\#{@exception.inspect}
\====

\#{@exception.backtrace}


XOXO
o(ˆ_ˆ)d
