.row
  / ROW
  .col-md-offset-1.col-md-5.form_user
    %h3.title_1
    %p Create your account
    = form_for @user, :html => {:class=> 'register_form'}, url: create_user_url do |form|
      = form.hidden_field :rn_id
      = form.hidden_field :rn_study
      = form.hidden_field :time_zone, value: "London"
      = hidden_field_tag "wsp", true
      %div
        = study_field
        .form-group
          %label.hide{:for => "username"} Username
          %input#username.form-control{:name => "user[username]", :placeholder => "Username", :type => "text", :value => "#{@user.username}"}/
          - if @user.errors[:username]
            %span.error= @user.errors[:username].join("; ")
        .form-group
          %label.hide{:for => "emailAddress"} Email
          %input#emailAddress.form-control{:name => "user[email]", :placeholder => "#{I18n.t('newuser.email')}", :type => "email", :value => "#{@user.email}"}/
          - if @user.errors[:email]
            %span.error= @user.errors[:email].join("; ")
          %p.help-block We only need your email in case you need to reset your password, we promise not to send you any spam.
        .form-group
          %label.hide{:for => "inputPassword"} Password
          %input#inputPassword.form-control{:name => "user[password]", :placeholder => "#{I18n.t('newuser.passwd')}", :type => "password"}/
          - if @user.errors[:password]
            %span.error= @user.errors[:password].join("; ")
        .form-group
          %label.hide{:for => "confirmPassword"} Confirm 
          %input#confirmPassword.form-control{:name => "user[password_confirmation]", :placeholder => "#{I18n.t('newuser.passwd_confirm')}", :type => "password"}/
          - if @user.errors[:password_confirmation]
            %span.error= @user.errors[:password_confirmation].join("; ")
        .form-group.text-center
          %label.hide{:for => "register_button"}  
          %input.bigbutton{:name => "register_submit", :type => "submit", :value => "Create account and log in"}/
  #wsp-info.col-md-offset-1.col-md-5
    #login_section
      .login_section
        - @user_session = UserSession.new
        = form_for @user_session, :url => user_session_path, :html => {:class=>"form_login form_user", :name=>"form_login"} do |f|
          %table.col-xs-12
            %tr
              %td{:colspan => "2", :style => "padding: 5px"}
                %h5.content_5.title_1 If you already have an LMS account, please log in
            %tr
              %td{:colspan => "2"}
                %label.hide{:for => "user_session_email"} Email
                %input#user_session_email.col-xs-12{:name => "user_session[username]", :placeholder => "Username/Email", :size => "31", :type => "text"}/
            %tr
              %td{:colspan => "2"}
                %label.hide{:for => "user_session_password"} Password
                %input#user_session_password.col-xs-12{:name => "user_session[password]", :placeholder => "Password", :size => "31", :type => "password"}/
            %tr
              %td
                %input.bigbutton{:name => "login_submit", :type => "submit", :value => "Login"}/
                %br/
                = link_to I18n.t('newuser.forgot_passwd') , new_password_reset_path
              %td
/ END OF ROW
:javascript
  jQuery(document).ready(function(){
  
  if(!Modernizr.input.placeholder){
  
    jQuery('.form_user label').each(function(idx,obj){
      elm = jQuery(obj)
      elm.show();
      elm.removeClass('hide');
    })
  
  }
  
  });
:css
  #wsp-info p {
    text-align: justify;
  }
