#tutorial.clearfix
  #controls.breadcrumbs_holder
    %table{:cellpadding => "0", :cellspacing => "0"}
      %tr
        %td#breadcrumb_step_1.breadcrumb.current_step= link_to_function 'Step 1', "nextStep('', 'step_1');"
        %td#breadcrumb_step_2_android.breadcrumb{:style => ""}= link_to_function 'Step 2', "nextStep('', 'step_2_android');"
        %td#breadcrumb_step_3_android.breadcrumb.final_step{:style => ""}= link_to_function 'Step 3', "nextStep('', 'step_3_android');"
    /
      <span id="breadcrumb_step_1" class="breadcrumb current_step" style="width:30%"><haml_loud> link_to_function &#39;Step 1&#39;, &quot;nextStep(&#39;&#39;, &#39;step_1&#39;);&quot;</haml_loud></span>
      <span id="breadcrumb_step_2_android" class="breadcrumb" style="display:none;width:35%"><haml_loud> link_to_function &#39;Step 2&#39;, &quot;nextStep(&#39;&#39;, &#39;step_2_android&#39;);&quot;</haml_loud></span>
      <span id="breadcrumb_step_3_android" class="breadcrumb final_step" style="display:none;width:35%"><haml_loud> link_to_function &#39;Step 3&#39;, &quot;nextStep(&#39;&#39;, &#39;step_3_android&#39;);&quot;</haml_loud></span>
  #step_1.tutorial_steps
    .clear
    .grid_3
      %p.title_1
        %b Step 1
        —  Download
        = succeed "the" do
          %br/
      %br/
    .grid_4
      %p.title_1 Android
      %p.content_1
        FM Survey is a free application for Android phones.
        = succeed "Download" do
          %br/
        = succeed "from" do
          %br/
      %p.content_b  
      %a{:href => "https://play.google.com/store/apps/details?id=edu.mit.smart.fmsurvey.android"}
        %img{:height => "40", :src => "http://www.android.com/images/brand/get_it_on_play_logo_large.png", :width => "117"}/
      %p.content_b  
      %p.content_1
        %b Or
        scan this QR code:
      = image_tag("tutorial/qr_android.png", :height => '100', :alt =>"qrcode android")
      %p.content_b  
      %p.content_1
        %b Or
        open the following url
        = succeed "on" do
          %br/
        %br/
        = succeed "." do
          %a{:href => "https://fmsurvey.sg/afms"} https://fmsurvey.sg/afms
    .grid_4
      %p.title_1 iPhone
      %p.content_1
        FMS is a free application for your iOS device.
        = succeed "Download" do
          %br/
        = succeed "Apple" do
          %br/
      %p.content_b  
      %a{:href => "https://itunes.apple.com/sg/app/fm-survey/id604011160"}
        = image_tag("tutorial/app_store.png", :width => '117', :alt =>"app store logo")
      %p.content_b  
      %p.content_1
        %b Or
        scan this QR code:
      = image_tag("tutorial/qr_iphone.png", :height => '100', :alt =>"qrcode iphone")
      %p.content_b  
      %p.content_1
        %b Or
        open the following url
        = succeed "on" do
          %br/
        %br/
        = succeed "." do
          %a{:href => "https://fmsurvey.sg/ifms"} https://fmsurvey.sg/ifms
    .clear
    = link_to_function 'Next', "nextStep('step_1', 'step_2_android');", :class =>"button"
    = link_to_function 'Back', "back();", :class =>"button"
  #step_2_android.container_12.tutorial_steps{:style => "display:none"}
    .clear
    .grid_3
      %p.title_1
        %b Step 2
        — Registration
        = succeed "on" do
          %br/
      %br/
    .grid_3
      %p.content_1 The registration process takes two easy steps as shown in the pictures.
      %p.content_b  
      %p.content_1
        %b Note:
        = succeed "For" do
          %br/
    .grid_4
      = image_tag("tutorial/fms-mobile.png", :alt =>"fm_reg_1")
    .clear
    = link_to_function 'Next', "nextStep('step_2_android', 'step_3_android');", :class =>"button"
    = link_to_function 'Back', "back();", :class =>"button"
  #step_3_android.container_12.tutorial_steps{:style => "display:none"}
    .clear
    .grid_3
      %p.title_1
        %b Step 3
        — Start collecting data!
      %br/
    .grid_3
      %p.title_1 Tip 1
      %p.content_1
        Please keep the
        %br/
        %b application running
        for 14 days and
        = succeed "." do
          %b ensure that you are logged in
    .grid_3
      %p.title_1 Tip 2
      %p.content_1
        Run the application for at least
        %b 14 days
        and use the
        %b Activity Diary
        to provide us with additional information on 5 of them in order to qualify for
        %br/
        = succeed "." do
          %b your incentive
    .grid_3
      %p.title_1 Tip 3
      %p.content_1
        It is important to validate your data
        %b soon after you have collected it
        (while you still remember your activities for that day), instead of waiting until
        %br/
        the end of the 14 days.
    .clear
    .clear
    .grid_3
      %p.title_1
    .grid_3
      %p.title_1 Tip 4
      %p.content_1
        The data your smartphone collects about your location is not always precise,
        %br/
        so you may see on the map that your activities are in the wrong location. Dont't worry!
        %b You can change the location directly on the map!
    .grid_3
      %p.title_1 Tip 5
      %p.content_1
        We're working hard to improve battery performance, but you should plan on
        %b charging your battery throughout your day
        while running the app.
    .grid_2
      %p.content_b  
      %p.title_1 Thank you for your participation!
      = image_tag("smart/recruit_ok_2.png")
    .clear
    = link_to_function 'Back', "back();", :class =>"button"
:javascript
  curr_step = 'step_1';
  curr_brand = '';
  currentStepIDx = 1

  function back() {
  	if (curr_step == 'step_1'){
  		curr_brand = '';
  		return;
  	}
  	else{
  		partial_curr = curr_step.split('_');
  		prev = parseInt(partial_curr[1]) - 1;
  		if (prev == 1)
  			prev_state = "step_1";
  		else{
  			if (curr_brand == 'android' && prev==5){
  				prev=3;
  			}
  			prev_state = "step_"+prev+"_"+curr_brand;
  		}
  		nextStep(curr_step, prev_state);
  	}
  }

  function nextStep(current, next){
  	if (current == 'step_1'){
  		window.chosenOS = next.split('_')[2]
  		if (window.chosenOS == 'android' || window.chosenOS == 'iphone'){
  			//jQuery('#breadcrumb_step_1').css('width','30%')
  		} else {
  			//jQuery('#breadcrumb_step_1').css('width','30%')
  		}
  	}

  	if (next == 'step_1'){
  		window.chosenOS = undefined;
  	}

  	var prev = curr_step;

  	if(current == '')
  		current = curr_step;

  	parts = curr_step.split('_')
  	temp = parts[2];
  	if (temp)
  		curr_brand = temp;

  	curr_step = next;
  	console.log('#'+current)
  	jQuery('#'+current).fadeOut('slow', function(){
  		jQuery('#'+next).fadeIn('slow');
  	});

  	if (window.chosenOS != undefined){
  		which = window.chosenOS
  	} else {
  		which = undefined;
  	} 
  	nextParts = next.split('_');
  	currentStepIDx = parseInt(nextParts[1]);

  	//jQuery('.breadcrumb').hide();

  	console.log("currentStep",currentStepIDx)
  	if (currentStepIDx == 1){

  		jQuery('#breadcrumb_step_1').show();
  		jQuery('#breadcrumb_'+current).removeClass('current_step')
  		jQuery('#breadcrumb_step_1').removeClass('step_done').removeClass('before_current').addClass('current_step')
  		return;
  	}

  	console.log("currentStep",currentStepIDx)
  	var elmId;
  	for (var i=6; i>= 1; i--){
  		elmId = jQuery('#breadcrumb_step_'+i+(i>1&&i<6&&which!=undefined?('_'+which):''))
  		elmId.show();
  		elmId.removeClass('step_done')
  		elmId.removeClass('current_step')
  		elmId.removeClass('before_current')

  		if (currentStepIDx == 6){
  			if ((i==3 && window.chosenOS == 'android') || (i==3 && window.chosenOS == 'iphone')){
  				elmId.addClass('before_current')
  			}
  		}

  		if (i == currentStepIDx-1){
  			elmId.addClass('before_current')
  		} else if (i<currentStepIDx){
  			elmId.addClass('step_done')
  		} else if (i > currentStepIDx) {
  			//elmId.removeClass('step_done')
  			//elmId.removeClass('current_step')
  		} else {
  			elmId.addClass('current_step')
  		}
  	}
  }

  jQuery("a.gallery").fancybox();
