%head
  / amCharts javascript sources
  %script{:src => "https://www.amcharts.com/lib/3/amcharts.js", :type => "text/javascript"}
  %script{:src => "https://www.amcharts.com/lib/3/serial.js", :type => "text/javascript"}
  %script{:src => "https://www.amcharts.com/lib/3/pie.js", :type => "text/javascript"}
  %script{:src => "https://www.amcharts.com/lib/3/gauge.js", :type => "text/javascript"}
  %script{:src => "https://www.amcharts.com/lib/3/themes/dark.js", :type => "text/javascript"}
  / amCharts javascript code
  :javascript
    AmCharts.makeChart("chartdiv",
      {
        "type": "serial",
        "categoryField": "category",
        "columnWidth": 0.23,
        "dataDateFormat": "YYYY-MM-DD",
        "sequencedAnimation": false,
        "startDuration": 1,
        "categoryAxis": {
          "gridPosition": "start",
          "parseDates": true,
          "titleRotation": -2
        },
        "chartCursor": {
          "enabled": true
        },
        "chartScrollbar": {
          "enabled": true
        },
        "trendLines": [],
        "graphs": [
          {
            "fillAlphas": 1,
            "id": "AmGraph-1",
            "title": "graph 1",
            "type": "column",
            "valueField": "column-1"
          },
          {
            "id": "AmGraph-2",
            "title": "graph 2"
          }
        ],
        "guides": [],
        "valueAxes": [
          {
            "id": "ValueAxis-1",
            "title": "Questionnares"
          }
        ],
        "allLabels": [],
        "balloon": {},
        "titles": [
          {
            "id": "Title-1",
            "size": 15,
            "text": ""
          }
        ],
        "dataProvider": [
          {
            "category": "2018-01-01",
            "column-1": "65"
          },
          {
            "category": "2018-01-02",
            "column-1": "100"
          },
          {
            "category": "2018-01-03",
            "column-1": "90"
          },
          {
            "category": "2018-01-04",
            "column-1": "45"
          },
          {
            "category": "2018-01-05",
            "column-1": "80"
          },
          {
            "category": "2018-01-06",
            "column-1": "90"
          }
        ]
      }
    );

    AmCharts.makeChart("step1_stats",
      {
        "type": "serial",
        "categoryField": "category",
        "columnWidth": 0.41,
        "maxSelectedTime": -2,
        "rotate": true,
        "autoMarginOffset": 9,
        "colors": [
          "#FF6600",
          "#FFFFFF",
          "#B0DE09",
          "#0D8ECF",
          "#2A0CD0",
          "#CD0D74",
          "#CC0000",
          "#00CC00",
          "#0000CC",
          "#DDDDDD",
          "#999999",
          "#333333",
          "#990000"
        ],
        "sequencedAnimation": false,
        "startDuration": 1,
        "handDrawThickness": 0,
        "hideBalloonTime": 149,
        "theme": "default",
        "categoryAxis": {
          "gridPosition": "start",
          "axisThickness": 0,
          "gridCount": 0,
          "gridThickness": 0,
          "labelOffset": -2,
          "minorGridAlpha": 0,
          "offset": -2,
          "tickLength": 0
        },
        "trendLines": [],
        "graphs": [
          {
            "balloonText": "[[title]] of [[category]]:[[value]]",
            "fillAlphas": 1,
            "id": "AmGraph-1",
            "title": "graph 1",
            "type": "column",
            "valueField": "column-1"
          },
          {
            "balloonText": "[[title]] of [[category]]:[[value]]",
            "fillAlphas": 1,
            "id": "AmGraph-2",
            "title": "graph 2",
            "type": "column",
            "valueField": "column-2"
          }
        ],
        "guides": [],
        "valueAxes": [
          {
            "id": "ValueAxis-1",
            "stackType": "100%",
            "title": ""
          }
        ],
        "allLabels": [],
        "balloon": {},
        "titles": [
          {
            "id": "Title-1",
            "size": 15,
            "text": ""
          }
        ],
        "dataProvider": [
          {
            "category": "Car driving licence",
            "column-1": 8,
            "column-2": "2"
          },
          {
            "category": "Education",
            "column-1": "6",
            "column-2": "4"
          },
          {
            "category": "Motorcycle licence",
            "column-1": "4",
            "column-2": "6"
          },
          {
            "category": "Mean age",
            "column-1": "5",
            "column-2": "5"
          }
        ]
      }
    );

    AmCharts.makeChart("step2_stats",
      {
        "type": "pie",
        "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
        "innerRadius": "40%",
        "titleField": "category",
        "valueField": "column-1",
        "allLabels": [],
        "balloon": {},
        "legend": {
          "enabled": true,
          "align": "center",
          "markerType": "circle"
        },
        "titles": [],
        "dataProvider": [
          {
            "category": "Android",
            "column-1": "175"
          },
          {
            "category": "iOS",
            "column-1": "125"
          }
        ]
      }
    );

    AmCharts.makeChart("step3_modechoice", 
      {
        "type": "pie",
        "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
        "innerRadius": "40%",
        "titleField": "category",
        "valueField": "column-1",
        "allLabels": [],
        "balloon": {},
        "legend": {
          "enabled": true,
          "align": "center",
          "markerType": "circle"
        },
        "titles": [],
        "dataProvider": [
          {
            "category": "Car as a driver",
            "column-1": "30"
          },
          {
            "category": "Car as a passenger",
            "column-1": "10"
          },
          {
            "category": "Taxi",
            "column-1": "20"
          },
          {
            "category": "Ride hailing (Uber)",
            "column-1": "15"
          },
          {
            "category": "Others",
            "column-1": "30"
          }
        ]
      }
    );

    AmCharts.makeChart("step3_statistics",
      {
        "type": "gauge",
        "backgroundColor": "#E7E7E7",
        "handDrawn": true,
        "theme": "default",
        "arrows": [
          {
            "id": "GaugeArrow-2",
            "nailBorderThickness": 3,
            "value": 54
          }
        ],
        "axes": [
          {
            "axisThickness": 10,
            "bottomText": "",
            "bottomTextYOffset": -20,
            "endValue": 100,
            "id": "GaugeAxis-1",
            "valueInterval": 100,
            "bands": []
          }
        ],
        "allLabels": [],
        "balloon": {},
        "titles": [
          {
            "id": "Title-1",
            "size": 15,
            "text": "Validated Trips"
          }
        ]
      }
    );
%body
  %h3 Dashboard
  .backoffice
    .row
      .item.col-md-6
        %p.key
          %i.icon-user>
           Total Users
        %p.value 250
        %p.key 4% increase from last week
      .item.col-md-6
        %p.key
          %i.icon-envelope>
           Number of Invitations Sent
        %p.value 500
        %p.key 2% increase from last week
    .stripes{:style => "margin-top: 10px;"}
    .row{:style => "margin-top: 10px;"}
      .item.col-md-6
        %p.key
          %i.icon-user>
           Total Males
        %p.value 100
        %p.key 34% increase from last week
      .item.col-md-6
        %p.key
          %i.icon-user>
           Total Females
        %p.value 150
        %p.key 12% increase from last week
    .stripes{:style => "margin-top: 10px;"}
    .row{:style => "margin-top: 10px;"}
      .item.col-md-12
        %p.section_title Step 1 - Questionnares per day
        #chartdiv{:style => "width: 100%; height: 400px; background-color: #FFFFFF;"}
    .stripes{:style => "margin-top: 10px;"}
    .row{:style => "margin-top: 10px;"}
      .item.col-md-6
        %p.section_title Step 1 - Statistics
        #step1_stats{:style => "width: 100%; height: 400px; background-color: #FFFFFF;"}
      .item.col-md-6
        %p.section_title Step 2 - App Downloads
        #step2_stats{:style => "width: 100%; height: 400px; background-color: #FFFFFF;"}
    .stripes{:style => "margin-top: 10px;"}
    .row{:style => "margin-top: 10px;"}
      .item.col-md-6
        %p.section_title Step 3 - Mode Choice
        #step3_modechoice{:style => "width: 100%; height: 400px; background-color: #FFFFFF;"}
      .item.col-md-6
        %p.section_title Step 3 - Statistics
        #step3_statistics{:style => "width: 100%; height: 400px; background-color: #FFFFFF;"}
    .stripes{:style => "margin-top: 10px;"}
    .row{:style => "margin-top: 10px;"}
      .item.col-md-12
        %p.section_title Participants Location
        = image_tag "umove/manchester_map.png"
  :css
    .backoffice p {
      margin: 0px;
      padding: 10px;
    }

    .backoffice .key {
      font-size: 16px;
    }

    .backoffice .value {
      font-size: 36px;
      margin-top: -20px;
      margin-bottom: -20px;
    }

    .backoffice .section_title {
      font-size: 20px;
    }

    .backoffice div.item {
      border-left: 3px solid gray;
      border-right: 3px solid gray;
    }
